/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 3em auto;
  max-width: 90%;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  /*position: relative;*/
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: #828181;;
  background-color: #ccc;
  font-size: 70%;
  font-weight: bold;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 2em;
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  border: 1px solid white;
}

/*.calendar .body .cell:hover {*/
  /*background: var(--bg-color);*/
  /*transition: 0.5s ease-out;*/
/*}*/

.calendar .body .cell .number {
  padding: 5px;
  font-size: 82.5%;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.calendar .body .disabled {
  visibility: hidden;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .holiday {
  font-weight: bold;
  background-color: #ffc107;
}

.calendar .body .cell:hover .bg, .calendar .body .birthday {
  font-weight: bold;
  background-color: #673ab7;
}

.calendar .body .cell:hover .bg, .calendar .body .busy {
  font-weight: bold;
  background-color: #676363;
}

.calendar .body .cell:hover .bg, .calendar .body .anniversary {
  font-weight: bold;
  background-color: #e91e1e;
}

.calendar .body .cell:hover .bg, .calendar .body .selected {
  font-weight: bold;
  background-color: #d2d0ce;
}

.calendar .body .cell:hover .bg, .calendar .body .checked {
  font-weight: bold;
  border: 1px solid #ccc;
}



.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  height: calc(100%/7);
  text-align: center;
}

.category {
  /*display: none;*/
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 8em;
  margin-top: -5em;
  margin-left: -4em;
  background-color: #f3f3f3;
  z-index: 2;
}

.year {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.month span {
  margin: 10px auto;
  font-weight: bold;
  color: #2727af;
}


.calendar .body .weekend .number {
  color: #1a8fff;
}

.month-container {
  width: calc(80%/3);
  height: 230px;
  display: inline-block;
}

.category {
  display: none;
  padding: 15px;
}

.category-color {
  margin-right: 20px;
}

.category .category-item:hover{
  cursor: pointer;
}

.category .category-item:hover .category-content {
  font-weight: bold;
}

.category-holiday-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffc107;
}

.category-birthday-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #673ab7;
}

.category-busy-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #676363;
}

.category-anniversary-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #e91e1e;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.calendar-info {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.calendar-info .btn {
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 5px;
}

.calendar-info .btn:hover {
  cursor: pointer;
}

.year-content {
  font-size: 46px;
}